{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container-fluid">
    <div class="container">
        {% if user_articles %}
        <h2 class="article">Hi, {{user_name|capfirst}}!</h2>
        <h3 class="article"> Written Articles</h3>
        <div class="row justify-content-center">
            {% for article in user_articles %}
            <div class="col-md-10 col-sm-6">
                <div class="card article_body mb-4 border">
                    <div class="card-body">
                        <h5 class="card-title spicy-mustard">{{article.title}}</h5>
                        <a class="right" href="{% url 'topic' article.topic%}" id="blue">
                            {{article.topic}} </a>
                        <small class="category_and_author right">Topic : </small>
                        <br />
                        <br />
                        <h7 class="card-text ">{{article.body| safe}}</h7>
                        <br />
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h3 class="article"> No articles exist for this user...</h3>
        {% endif %}
        <br />
        {% if bookmarked_articles %}
        <h3 class="article"> Bookmarked Articles</h3>
        <div class="row justify-content-center">
            {% for article in bookmarked_articles %}
            <div class="col-md-10 col-sm-6">
                <div class="card article_body mb-4 border">
                    <div class="card-body">
                        <h5 class="card-title spicy-mustard">{{article.title}}</h5>
                        <a class="right" href="{% url 'topic' article.topic%}" id="blue">
                            {{article.topic}} </a>
                        <small class="category_and_author right">Topic : </small>
                        <br />
                        <br />
                        <h7 class="card-text ">{{article.body| safe}}</h7>
                        <br />
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h2 class="article"> No articles bookmarked...</h2>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{% static 'script/article.js' %}"></script>
{% endblock %}