{% extends 'base.html' %}
{% block title %} Write a new article {% endblock %}
{% block content %}


{% if user.is_superuser %}
<div class="container-fluid ">
    <div class="container right">
        <h2 class="article"> Add a new article </h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-10">
                <div class="card article_body mb-4 border">
                    <div class="card-body">
                        <h5 class="card-title">By : {{user.username|capfirst}}</h5>
                        <div class="form-group">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p | safe}}
                                <button class="save-article-button">Save article</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var userId = "{{ user.id }}";
    document.getElementById("user-id").value = userId;
</script>

{% else %}
You are not logged in, it's not possible to write a new article
{% endif %}


{% endblock %}