{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>{{article.title}}</h2>
            <small> {{article.author.username}} - </small>
            {% if user.is_authenticated %}
            {% if user.id == article.author.id %}
            <a href="{% url 'edit-article' article.pk %}"> Edit</a>
            <a href="{% url 'delete-article' article.pk %}"> Delete</a>
            {% endif %}
            {% endif%}
            <br />
            <hr />
            {{article.body}}
            <br />
            <a href="{% url 'home' %}">Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form action="{% url 'like-article' article.pk %}" method="POST">
                {% csrf_token %}
                {% if user.is_authenticated %}
                {% if liked %}
                <button class="btn" id="red" type="submit" name="article-id" value="{{article.id}}"><i
                        class="fa-solid fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
                {% else %}
                <button class="btn" id="green" type="submit" name="article-id" value="{{article.id}}"><i
                        class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>{{total_likes}}
                {% endif %}
                <button class="btn" id="add_comment" type="submit"><i class="fa fa-comments-o"
                        aria-hidden="true"></i></button>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            {% if article.comments.all %}
            <small> Comments</small>
            {% for comment in article.comments.all %}
            <div>
                <h5>{{comment.user.username}} - {{comment.date_and_time}}</h5>
                <p>{{comment.body}}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-5">
            <small>By : {{user.username}}</small>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Add</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        event.preventDefault();
        element = document.getElementById('add_comment');
        element.addEventListener('click', function () {
            element.style.display = block;
        }
        });
</script>
{% endblock %}