{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>{{article.title}}</h2>
            <small> {{article.author.username}} - </small>
            {% if user.id == article.author.id %}
            <a href="{% url 'edit-article' article.pk %}"> Edit</a>
            <a href="{% url 'delete-article' article.pk %}"> Delete</a>
            {% endif %}
            <br />
            <hr />
            {{article.body}}
            <br />
            <a href="{% url 'home' %}">Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form action="{url 'like-article' article.pk}" method="POST">
                {% csrf_token %}
                <button class="btn" id="green" type="submit" name="article-id" value="{{article.id}}"><i
                        class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
                <button class="btn" id="red"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></button>
            </form>

        </div>
    </div>
</div>
{% endif %} {% endblock %}