{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}

<div class="container-fluid ">
    <div class="container right">
        <h1 class="article"> Register </h1>
        <div class="row">
            <div class="col-md-10 col-sm-6">
                <div class="card article_body mb-4 border">
                    <div class="card-body">
                        <div class="form-group">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="register-button">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}